*{
  margin: 0;
  padding: 0;
}

.body{
  background: #f5f5f5;
}

.header{
  align-items:center;
  background:white;
  color: black;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  font-family: 'Poppins', sans-serif;
  justify-content:space-around;
  margin: 1px;
  margin-left: 70px;
  padding: 1px;
}

.one, .two, .icon{
  align-items:center;
  flex-direction:row;
}

.one{
  font-size: 12px;
  margin-top: 16px;  
}

.two{
  font-size: 12px;
  margin-left: -53px;
  margin-top: 16px;

}

.icon{
  flex-wrap: wrap;
  font-size: 10px;
  margin-left: 611px;
  margin-top: 16px;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 14px;
  margin-right: -20px;
  margin-top: 18px;
  margin-left: 33%;
}

.icons a:hover{
  color: #FF7013;
}

.container{
  display: flex;
}

.menu{
  background:white;
  color: black;
}

.menu nav {
  align-items:center;
  color:black;
  display:flex;
  flex-wrap:wrap;
  font-family: 'Poppins', sans-serif;
  padding-left: 7%;
  padding-bottom: 1%;
}

.menu nav a {
  /* Flexbox */
  align-items:center;
  color:black;
  flex-direction:row;
  flex-wrap:nowrap;
  padding:10px;

  text-align: center;
  text-decoration: none;
  transition:.5s;

}
a{
  color: #4c5b64;
  text-decoration: none;
}
.glyphicon a {
  color:#4c5b64;
}
.menu nav a:hover {
  color: orange;
  text-decoration: none;
  transition: .5s;

}

.loog{
  margin-top: -5px;
  margin-left:6%;
}


h1{
  font-family: 'Lato', sans-serif;

}
h3, h4, p, h2, a{
  color: #4c5b64;
  font-family:'Poppins', sans-serif;
}

/*--------SLIDER-----------------*/
.uno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
}

.info{
  left: -7%;
  position: absolute;
  top: 266px;	
}

.info a:hover{
  color: #FF7013;
}

.single-item h3 {
  color: #4c5b64;
  font-weight: 900;
  margin-bottom: 20px;
}

.uno div {
  margin-left: 20%;
}

.single-item h4 {
  color: #4c5b64;
  font-weight: 700;
  font-size: 15px;
}

.single-item p {
  color: #4c5b64;
  font-size: 15px;
  margin-bottom: 40px;
} 

.single-item span {
  margin-left: 40px;
}

.slick-dotted.slick-slider {
  align-items: center;
  display: flex;
  margin-bottom: -4px;

}

.slick-dots {
  bottom: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  width: auto;

}

.slick-dots li.slick-active button::before{
  background: #FF7013;
  height: 35px; 
  width: 10px;
}

div .slick-slide slick-cloned {
  width: auto !important;
}

ul.slick-dots{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  top: 35%;
}

button#slick-slide-control00{
  height: 25px;
  width: 10px;
}

button#slick-slide-control01{

  height: 25px;
  width: 10px;
}

button#slick-slide-control02{

  width: 10px;
  height: 25px;
}

.slick-dots li button::before{
  background-color:#fff;
  content: '';
  height: 25px;
  width: 10px;
}

.slick-dots li button{
  background: white;
  padding: 0;

}

.slick-dots li{
  margin: 10px;
}
span.glyphicon.glyphicon-shopping-cart{
  top: 2px;
}
.full-letter{
  color: #FF7013;
}
--------------SECTION ARRIVAL------------------
.container-fluid{


}
.arrival{
  background-color: #f5f5f0;
  color: gray;
  height: auto;
  padding: 11%;
  text-align: center;  
}

.view{
  background: white;
  font-size: 30px;
  margin-top: 8%;
  text-align: center;
  margin-bottom: 8%;
}
.view > a{
  color:#FF7013;
}
.glyphicon.glyphicon-option-horizontal{
  top: 7px;
}

.links{
  align-items: center;
  display: flex;
  justify-content: space-around;
  letter-spacing: 15px;
  margin: -39px; 
  margin-left: -12%;  
  margin-top: -7px;   
  padding: 27px; 
}

a:link{
  color:#42505D;
}

.links > a:hover{
  color:#FF7013;
}

.rebook {
  background: #fff;
  height: 300%;
  overflow: hidden;  
  padding: 15%;
}

.rebook img {
  cursor: pointer;
}

.img-clothes {
  margin: 0 auto;
  transition: .5s;

} 

.rebook:hover .img-clothes{
  margin: 0 auto;
  transition: .8s;
  width: 70%;
} 

.rebook:hover .tittle{
  color: #ff7013;
  transition: .5s;
}
.rebook:hover h3{
  display: none;
}

.tittle{
  cursor: pointer;

}
a.tittle{
  text-decoration: none;
}
.text-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  opacity: 0;
  position: relative;
  transition: .5s;
}

.text-content span {
  text-align: center;
}

.rebook:hover .text-content {
  opacity: 1;
  transition: .5s;
}

.rebook:hover {
  box-shadow:  3px 3px rgba(0, 0, 0, .1);
  transition: .5s;
}


.circle{
  display: flex;
  justify-content: space-around;
  margin: 23px;
}
.circulo1 {
  background: red;
  border-radius: 50%;
  height: 15px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  width: 15px;
}
.circulo2 {
  background: gray;
  border-radius: 50%;
  height: 15px;
  -moz-border-radius: 50%;
  width: 15px;
  -webkit-border-radius: 50%;
}
.circulo3 {
  background: blue;
  border-radius: 50%;
  height: 15px;
  -moz-border-radius: 50%;
  width: 15px;
  -webkit-border-radius: 50%;
}
.circulo4 {
  border-radius: 50%;
  background: green;
  height: 15px;
  -moz-border-radius: 50%;
  width: 15px;
  -webkit-border-radius: 50%;

}

--------------------------------------------------------

.glyphicon.glyphicon-envelope.sobre{
  color: #FF7013;
}

.col-md-8.join h4{
  font-size: 15px;
  margin-left: 16px;
  margin-top: 19px;
}

.kit{
  display: flex;
  justify-content: space-between;
  margin-top: 50px
}
.part-left {
  align-items: center;
  background-color: #fff;
  border:1px solid #efefef;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 20px 40px;
  text-align: left;
  width: 70%;
}

.part-left h4 {
  color: #4c5b64;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 7px;
}

.part-left h5{
  color: #4c5b64;
  font-weight: 900;
}

.part-left h5:hover{
  color: #FF7013;
}

.part-left p {
  color: #4c5b64;
  font-size: 15px;
  margin-bottom: 0;
}

.part-left span {
  font-size: 15px;
}

.part-right {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding:  40px;
  width: 30%;
}

.part-right h5 {
  color: ##4c5b64;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.part-right h4{
  letter-spacing: 8px;
}


/*-----------------SECTION KIT------------*/
.track-jacket {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

}

.info-jack p {
  font-size: 15px;
  font-weight: 700px;
  text-align: center;
}

.infor-jack h3 {
  color: #ff7013;
  font-size: 20px;
}


.info-reebok {
  background: #fff;
  display: flex;
  padding: 13%;

}

.info-reebok img {
  height: 100%;
  width: 30%;
}

.info-reebok i {
  font-size: 15px;
}

.info-jack1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-reebok:hover {
  transition: .5s;
}

.info-jack1 h4 {
  color: #4c5b64;
  font-size: 15px;
  font-weight: 900;
}

.info-jack1 h5 {
  color: #4c5b64;
  transition: .5s;
}

.info-jack1 .ec-stars-wrapper { 
  margin-top: 8px;
  transition: .5s;
}

.cart{
  opacity: 0;
  position: absolute;
}

.cart a {
  color: #ff7013;
  text-decoration: none;
}

.info-reebok:hover .ec-stars-wrapper, .info-reebok:hover h5 {
  opacity: 0;
  transition: .5s;
}

.info-reebok:hover .cart {
  margin-top: 60px;
  opacity: 1;
  transition: .5s;
}

.btn-warning{

  background: #FF7013;
}

.btn-warning a{
  color: #fff;
  text-decoration: none;
}

.email{
  background: white;
  font-size: 10px;
  margin-top: 8%;
  padding: 10px;
  text-align: center;
}

.join{
  align-items: center;
  background-color: #fff;
  display: flex;
  font-size: 117%;
  justify-content: center; 
  margin-left: 37px;
  margin-top: 1%;
  text-align: center;
  width: auto;
}

.emsec{
  align-items: center;
  display: flex;
  left: 15%;
  margin-top: 1%;
  font-size: 15px;
}

.embut{
  left: 5%;
  margin-top: 1%;
}

.col-md-8 h3{
  font-size: 117%;
}

.glyphicon.glyphicon-envelope.sobre{
  left: -6%;
}

.footer{
  background: #fff;
  padding: 11%;
  text-align: left;

}

.footer a:hover{
  color: #ff7013;
}

h3{
  font-size: 15px;
}
/*************segunda vista************/
.first-content{
  display: flex;
  padding: 11%;

}
.description{
  background-color: #ff7013;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid #ff7013;
  height: auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: auto;
}
.description img{
  height: 100%;
  margin-bottom: -5px;
  position: relative;
  transition: all 0.3s ease-out; 
  width: 100%;
  z-index: 2;
}
.box-text {
  background-color: transparent;
  color: #ff7013;
  height: 100%;
  left: 0;
  opacity: 1;
  padding: 10px;
  position: absolute;
  text-shadow: 2px 2px 2px #333;
  top: 0;
  transition: 0.3s linear; 
  width: 100%;
  z-index: 3;
}
.box-text h1 {
  font-size: 2.2em;
}

.box-text:hover{
  opacity: 0;
}

.shopping-jacket{
  background: #fff;
  color: #ff7013;
  padding: 11%;  
}

.roji{
  border: 1px solid rgba(255,255,255,0.2);
  display: block; 
  filter: grayscale(0);
  margin: 20px auto;  
  width: 100%;
}

.roji:hover
{
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.text-jacket {
  font-weight:600;
  height:40px; 
  overflow:hidden;
  text-align: center;    
}

.text-jacket h1 {
  display:inline;
  float:left;
  margin:0;
}

.letter-red{
  color: red;
}

.text-description{
  text-align: left;

}
u.details{
  color: #ff7013;
}
h2 .details{
  color: #4c5b64;
}

.more-view{
  background: #f5f5f0;
  color: #4c5b64;
  text-align: center;
  margin-bottom: 8%;
  padding: 11%;
}

.ec-stars-wrapper {
  display: inline-block;
  font-size: 0;
  padding-left: 6%;
}

.ec-stars-wrapper a {
  color: #888;
  display: inline-block;
  font-size: 32px;
  font-size: 2rem;
  text-decoration: none;
}

.ec-stars-wrapper > a:hover ~ a {
  color: #ff7013; 
}

.content {
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  overflow:hidden;
  width: 100%;
}

.item {
  margin: 1%;
  overflow: hidden;
  position: relative;
}

.item img {
  display: block;
  max-width: 100%; 
  transition: all 0.5s ease;
}

.text6 {
  bottom:0;
  cursor: pointer;
  opacity:0;
  padding:5% 0 5% 10%;
  position: absolute;
  text-align: left;
  transition: all 0.5s ease;
  width: 100%;
}

.text6 h2{
  color: #ff7013;
}

.text6 p{
  color: #ff7013;
}

.e6:hover .text6{

  background:rgba(0,0,0,0.6);
  bottom:0;
  position: absolute; 
  opacity:1;

}

.form{
  background: #f5f5f0;

  text-align: center;
  padding: 11%;

}

.form h1{
  color: #ff7013;
  margin-bottom: 10%;
}

.input{
  resize:none;
}

.boton-home{

  text-align: center;
}

.tz-gallery {

  padding: 11%;
  text-align: center;
}

.tz-gallery .lightbox img { 
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;

}


.tz-gallery .lightbox img:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
  transform: scale(1.05);    
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.img-clothes img{
  width: 60%;
  height: 50%;
}

.img-clothes img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */

}
.img-clothes:hover img {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}
