*{
  margin: 0;
  padding: 0;
}

.body{
  background: #f5f5f5;
}

.header{
  align-items:center;
  background:white;
  color: black;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  font-family: 'Lato', sans-serif;
  justify-content:space-around;
  margin: 1px;
  margin-left: 70px;
  padding: 1px;
}

.one, .two, .icon{
  align-items:center;
  flex-direction:row;
}

.one{
  font-size: 12px;
  margin-left: 56px;
  margin-top: 16px;  
}

.two{
  font-size: 12px;
  margin-left: -53px;
  margin-top: 16px;
  
}

.icon{
  flex-wrap: wrap;
  font-size: 10px;
  margin-left: 611px;
  margin-top: 16px;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 14px;
  margin-right: -20px;
  margin-top: 18px;
  margin-left: 33%;
}

.icons a:hover{
  color: #FF7013;
}

.menu{
  background:white;
  color: black;
  display: flex;
  height: 80px;
  margin-left: 40px;
  margin-top: -4%;
}

.menu nav {
  align-items:center;
  color:black;
  display:flex;
  flex-wrap:wrap;
  font-family: 'Lato', sans-serif;
}

.menu nav a {
  /* Flexbox */
  align-items:center;
  color:black;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow:1;
  padding:10px;
  text-align: center;
  text-decoration: none;
  transition:.5s;
}

.menu nav a:hover {
  color: orange;
  text-decoration: none;
  transition: .5s;

}

.loog{
  margin-top: -5px;
  margin-left:73px;
}


h1{
  font-family: 'Bitter', serif;

}
h3, h4, p, h2{
  color: #42505D;
  font-family: 'Lato', sans-serif;
}

/*--------SLIDER-----------------*/
.uno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
}

.info{
  left: -7%;
  position: absolute;
  top: 266px;	
}

.info a:hover{
  color: #FF7013;
}

.single-item h3 {
  color: #ff6e0f;
  font-weight: 900;
  margin-bottom: 20px;
}

.uno div {
  margin-left: 20%;
}

.single-item h4 {
  color: #4c5b64;
  font-weight: 700;
  font-size: 15px;
}

.single-item p {
  color: #4c5b64;
  font-size: 15px;
  margin-bottom: 40px;
} 

.single-item span {
  margin-left: 40px;
}

.slick-dotted.slick-slider {
  align-items: center;
  display: flex;
  margin-bottom: -4px;

}

.slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  width: auto;
  bottom: initial;
}

.slick-dots li.slick-active button::before{
  background: #FF7013;
  height: 35px; 
  width: 10px;
}

div .slick-slide slick-cloned {
  width: auto !important;
}

ul.slick-dots{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  top: 54%;
}

button#slick-slide-control00{
  height: 25px;
  width: 10px;
}

button#slick-slide-control01{

  height: 25px;
  width: 10px;
}

button#slick-slide-control02{

  width: 10px;
  height: 25px;
}

.slick-dots li button::before{
  background-color:#fff;
  content: '';
  height: 25px;
  width: 10px;
}

.slick-dots li button{
  background: white;
  padding: 0;

}

.slick-dots li{
  margin: 10px;
}
 span.glyphicon.glyphicon-shopping-cart{
  top: 2px;
}
--------------SECTION ARRIVAL------------------
.container-fluid{
  background: #f5f5f0;
  padding: 55px;  
}
.arrival{
  background-color: #f5f5f0;
  color: gray;
  height: auto;
  padding: 55px;
  text-align: center;  
}

.view{
  background: white;
  font-size: 30px;
  margin-top: 8%;
  padding: 7px;
  text-align: center;
  }

.links{
  align-items: center;
  display: flex;
  justify-content: space-around;
  letter-spacing: 15px;
  margin: -39px; 
  margin-left: -12%;  
  margin-top: -7px;   
  padding: 27px; 
}

a:link{
  color:#42505D;
}
.view > a{
  color:#FF7013;
}
.links > a:hover{
  color:#FF7013;
}

.rebook {
  background: #fff;
  height: 332px;
  overflow: hidden;  
  padding: 24px;
}

.rebook img {
  cursor: pointer;
}

.img-clothes {
  margin: 0 auto;
  transition: .5s;
  
} 
  
.rebook:hover .img-clothes{
  margin: 0 auto;
  transition: .8s;
  width: 70%;
} 

.rebook:hover .tittle{
  color: #ff6e0f;
  transition: .5s;
}
.rebook:hover h3{
  display: none;
}

.text-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    transition: .5s;
}

.text-content span {
  text-align: center;
}

.rebook:hover .text-content {
  opacity: 1;
  transition: .5s;
}

.rebook:hover {
  box-shadow:  3px 3px rgba(0, 0, 0, .1);
  transition: .5s;
}


.circle{
  display: flex;
  justify-content: space-evenly;
  margin: 23px;
}
.circulo1 {
  background: red;
  border-radius: 50%;
  height: 15px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  width: 15px;
}
.circulo2 {
	background: gray;
	border-radius: 50%;
	height: 15px;
	-moz-border-radius: 50%;
	width: 15px;
	-webkit-border-radius: 50%;
}
.circulo3 {
	background: blue;
	border-radius: 50%;
    height: 15px;
  -moz-border-radius: 50%;
   width: 15px;
  -webkit-border-radius: 50%;
}
.circulo4 {
  border-radius: 50%;
  background: green;
  height: 15px;
  -moz-border-radius: 50%;
  width: 15px;
  -webkit-border-radius: 50%;

}

--------------------------------------------------------

.glyphicon.glyphicon-envelope.sobre{
  color: #FF7013;
}

.col-md-8.join h4{
  font-size: 15px;
  margin-left: 16px;
  margin-top: 19px;
  }

.kit{
  display: flex;
  justify-content: space-between;
  margin-top: 50px
}
  .part-left {
  align-items: center;
  background-color: #fff;
  border:1px solid #efefef;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 20px 40px;
  text-align: left;
  width: 70%;
  }
  
  .part-left h4 {
  color: #4c5b64;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 7px;
  }
  
  .part-left h5{
  color: #4c5b64;
  font-weight: 900;
  }

   .part-left h5:hover{
    color: #FF7013;
   }
  
  .part-left p {
  color: #4c5b64;
  font-size: 15px;
  margin-bottom: 0;
  }
  
  .part-left span {
  font-size: 15px;
  }
  
  .info-products ul {
  display: flex;
  justify-content: center;
  list-style: none;
  }
  
  .info-products li {
  border-radius: 10px;
  height: 15px;
  margin: 5px;
  width: 15px;
  
  }
  
  .part-right {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding:  40px;
  width: 30%;
  }
  
  .part-right h5 {
  color: ##4c5b64;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin-bottom: 0;
  }

  .part-right h4{
    letter-spacing: 8px;
  }
   
  
/*-----------------SECTION KIT------------*/
.track-jacket {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
  }
  
  .info-jack p {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  }
  
  .infor-jack h3 {
  color: #ff6e0f;
  font-size: 20px;
  }
  

  .info-reebok {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 267px;
  }
  
  .info-reebok img {
  height: 100%;
  width: 30%;
  }
  
  .info-reebok i {
  font-size: 15px;
  }
  
  .info-jack1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .info-reebok:hover {
  transition: .5s;
  }
  
  .info-jack1 h4 {
  color: #4c5b64;
  font-size: 15px;
  font-weight: 900;
  }
  
  .info-jack1 h5 {
  color: #4c5b64;
  transition: .5s;
  }
  
  .info-jack1 .ec-stars-wrapper { 
  margin-top: 8px;
  transition: .5s;
 }
  
  .cart{
  opacity: 0;
  position: absolute;
  }
  
  .cart a {
  color: #ff6e0f;
  text-decoration: none;
  }
  
  .info-reebok:hover .ec-stars-wrapper, .info-reebok:hover h5 {
  opacity: 0;
  transition: .5s;
  }
  
  .info-reebok:hover .cart {
  margin-top: 30px;
  opacity: 1;
  transition: .5s;
  }

button{
  background-color: #ff7013;
  color: #fff;
  margin-top: 15%;
  padding: 3px 25px;
  }

button>a{
  text-decoration: none;
}
.email{
  background: white;
  font-size: 10px;
  margin-top: 8%;
  padding: 10px;
  text-align: center;
}
.join{
  align-items: center;
  background-color: #fff;
  display: flex;
  font-size: 117%;
  justify-content: center; 
  margin-left: 37px;
  text-align: center;
  width: auto;

}
.col-md-8 h3{
  font-size: 117%;
}
.footer{
  padding: 5%;
}

.footer a:hover{
  color: #ff7013;
}
h3{
  font-size: 15px;
}
/*************media queries************/
@media  screen and (min-width: 360px) and (max-width: 640px){

	.header{
		display:none;
	}

	.menu nav a{
		display: none;
	}

	.icons{
		display: none;
	}
	.one, .two{
		display: none;
	}

	.icon{
		display: none;
	}
	.rebook {
	background: #fff;
    height: 332px;
    margin-bottom: 17%;
    padding: 24px;
    overflow: hidden;
    }

.info-reebok {
    flex-direction: column;
    margin-bottom: 11%;
    padding: 10px;
    width: 267px;
    }

.view{
	margin-bottom: 11%;
	margin-top:-3%;
	}
    .kit{
    	flex-direction: column;
    }
    .part-left {
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 7%;
    text-align: center;
    width: 100%;
}
.part-right {
    
    width: 100%;
}
.track-jacket {
	flex-direction: column;
    margin-bottom: 6%;
    margin-left: -10%;
}
.join {
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    font-size: 118%;
    margin-left: -6px;
    text-align: center;
    width: auto;
    margin-bottom: 9%;
    
}
.footer {
    padding: 5%;
    text-align: center;
    }
}
@media  screen and (min-width: 768px) and (max-width: 991px){

.header{
	display: none;
}
  .one{
    margin-left: -57px;
  }

  .icon{
    font-size: 10px;
    margin-top: 28px;
    margin-left: 40%;
  }

  .icons{
    display: none;
  }

  .loog{
  	margin-top: -5px;
    margin-left: 40px;
    padding: 13px;
    width: 146px;
    
  }

  .circle{
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    justify-content: center; 
    margin-top: 7px;
    padding: 0;
  }

  .arrival {
    padding: 10px;
  }

  .join {
    align-items: center;
    background-color: #fff;
    font-size: 144%;
    flex-direction: column;
    justify-content: center;
    margin-left: -14px;
    padding: 12px;
    text-align: center;   
    width: auto; 
  }
  
  .footer {
    padding: 12%;
    text-align: center;
  }

  .footer>li{
    display: none;
  }
  .track-jacket {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 208px;
}
.kit{
	flex-direction:column;
}
.part-right, .part-left{
	width: 100%;
}
.part-right{
	margin-top: 2%;
}
.rebook {
	background: #fff;
    height: 20%;
    margin-bottom: 9%;
    padding: 82px;
    overflow: hidden;
    }
.links {
   
    margin-left: -3%;
}
.info-reebok {
	background: #fff;
    flex-direction: column; 
    margin-bottom: 12%;
    margin-left: -38%;
    padding: 35px;

}
.glyphicon.glyphicon-envelope.sobre {

    margin-left: 7%;
    top: 0px;
    
}
.view{
    margin-top: -3%;
}
    .track-jacket {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 49%;
}
    }
/*---------------------------------------CANAIMA------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px){
  
  .icon {
     margin-left: 47%;
    margin-top: 23px;
    flex-wrap: wrap;
    font-size: 17px;
  }

.header {
 align-items: center;
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 22px;
  justify-content: flex-start;
  margin: 1px;
}
.menu {
  background: white;
  color: black;
  display: flex;
  height: 80px;
  margin: 1px;
  margin-left: 1px;
  margin-left: 40px;
}

.one {
  margin-left: 12%;
  margin-top: 15px;
  font-size: 12px;
}
.two {
  margin-left: 25px;
  margin-top: 16px;
  font-size: 12px;
}

.icons {
  margin-top: 18px;
  margin-left: 25%;
  letter-spacing: 11px;
}

.info {
  position: absolute;
  left: -3%;
  top: 35%;
}

ul.slick-dots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 42%;
}
.loog {
  margin-top: -5px;
  margin-left: 73px;
  padding: 13px;
  width: 146px;
}
.menu nav {
	align-items: center;
	color: black;
   display: flex;
   flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin-left: 28px;
  margin-top: -15px;
  }

.glyphicon.glyphicon-envelope.sobre {
  color: #FF7013;
  font-size: 23px;
  letter-spacing: 11px;
  top: 1px;
}

}
/*----------------- fin CANAIMA------------------*/

@media screen and (min-width: 411px) and (max-width: 736px){
.ul.slick-dots {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1%;
}
.info-rebook{
	 margin-left: 8%;
}
.loog{
	  margin-left: 70px;
}
.info {
	 left: -3%;
     position: absolute;
    top: 18%;
}
.track-jacket{

	    margin-left: 0%;
}
.rebook{
	padding: 63px;
}
}
@media screen and (min-width: 375px) and (max-width: 667px){

.loog{
	    margin-left: 54px;
}
.info {
    position: absolute;
    left: 1%;
    top: 14%;
}

.slick-dots{
	    margin-top: -17%;
}
}